<app-dialog
  [isOpen]="isOpen"
  [selectedMovie]="selectedMovie"
  [trailerUrl]="trailerUrl"
  (close)="isOpen = false"></app-dialog>

<div class="center-header">
    <h1>Movie Search</h1>
    <i>* This product uses the TMDb API but is not endorsed or certified by TMDb.</i>
</div>

<div class="row">
  <input (input)="doSearch($event)" type="search" class="form-control" placeholder="search">
  <span class="search-title">{{ results?.length ? 'Results' : 'Search' }}</span>
</div>
<div class="row wrapper">
  <div class="no-res" *ngIf="results?.length === 0">Nothing matches this search.</div>
  <div [ngClass]="{'dn': item?.poster_path == null}" class="col" *ngFor="let item of results">
      <span class="item">
          <span class="bg" [ngStyle]="{'background': 'linear-gradient(-225deg, rgba(0,0,0,0.5) 50%, rgba(0,0,0,0.5) 80%), url(https://image.tmdb.org/t/p/w440_and_h660_face'+ item?.poster_path +')' }">
            <span class="info">
              <p>
                <span *ngIf="item?.credit1">Cast: {{item?.credit1}}, {{item?.credit2}} <br></span>
                <span class="star-rating" *ngFor="let star of rating(item)"> <span>☆</span> </span><br>
                <span class="trailer-link" (click)="openTrailer(item)">Trailer</span>
              </p> 
            </span>
            <span *ngIf="item?.provider != null" class="{{getProvider(item?.provider)}} probar">
              {{getProvider(item?.provider)}}
            </span>
          </span>
      </span>
  </div>
</div> 
