html, 
body { 
  height: 100%;
  font-family: Arial, sans-serif; 
  margin: 0;
  background-color: #303030;
}

.container {
  color: #fff;
  min-height: 100%;
  margin-bottom: -50px;
  margin: 0 auto; 
  max-width: 1380px;

  input[type="search"] {
    font-size: 20px;
  }

  .center-header {
    text-align: center;
    margin-bottom: 20px;

    h1 {
      margin-bottom: 0;
    }
    
  }

  .row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;

    .col {
      display: flex;
      flex-direction: column;
      flex: 0 0 13%;
      width: 100%;
      color: #fff;
      font-size: 18px;
      border-radius: 5px;
      padding: 5px 0 5px 0;
      margin-bottom: 5px;
      position: relative;

      .item {
        .bg {
          background-size: cover!important;
          background-repeat: no-repeat !important;
          background-position: center !important;
          position: relative;
          height: 250px;
          display: block;
  
          .item-row {
            width: 100%;
            .item-col {
              flex-direction: column;
              flex: 0 0 42%;
              color: #fff;
              font-size: 18px;
              border-radius: 5px;
            }
          }
        }
      }
    }

    .search-title {
      text-transform: uppercase;
      letter-spacing: 3px;
      font-weight: 100;
      display: block;
      width: 100%;
      border-bottom: 1px solid #fff;
      padding-top: 10px;
    }
  
    .no-res {
      font-size: 24px;
      font-weight: 100;
      color: #fff;
      padding: 25px;
    }
  
    .col.dn {
      display: none;
    }

  }

  .row.wrapper {
    max-width: 1200px;
    margin: 0 auto
  }

}

@media (max-width: 900px) { 
  .container .row .col {
    flex: 0 0 20%;
  }
}

@media (max-width: 500px) { 
  .container .row .col {
    flex: 0 0 33%;
  }
}