html, 
body { 
  height: 100%;
  font-family: Arial, sans-serif; 
  margin: 0;
  background-color: #303030;
}

.container {
  color: #fff;
  min-height: 100%;
  margin-bottom: -50px;
  margin: 0 auto; 
  max-width: 1380px;

  input[type="search"] {
    font-size: 20px;
  }

  .center-header {
    text-align: center;
    margin-bottom: 20px;

    h1 {
      margin-bottom: 0;
    }
    
  }

  .row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;

    .col {
      display: flex;
      flex-direction: column;
      flex: 0 0 13%;
      width: 100%;
      color: #fff;
      font-size: 18px;
      border-radius: 5px;
      padding: 5px 0 5px 0;
      margin-bottom: 5px;
      position: relative;

      .item {
        .bg {
          background-size: cover!important;
          background-repeat: no-repeat !important;
          background-position: center !important;
          position: relative;
          height: 250px;
          display: block;

          .probar {
            position: absolute;
            bottom: 0;
            width: 100%;
            text-align: center;
            font-size: 14px;
            font-weight: 300;
            letter-spacing: 2px;
            opacity: 0.8;
            color: #fff;
            text-transform: uppercase;
            background: #555;
          }
  
          .Netflix, .netflix {
            background: #e00713;  
          }
  
          .HBO, .hbo {
            background: #8440C1;
          }
  
          .Amazon,
          .Prime,
          .prime {
            background: #00A3DB;
          }
  
          .Hulu,
          .hulu {
            background:  #1DE883;
          }
  
          .Disney,
          .disney {
            background:  #111D4E;
          }
  
          .Apple,
          .apple {
            background:  #000;
          }

          .info {
            background-color: rgba(0, 0, 0, 0.0);
            position: absolute;
            bottom: 0;
            color: #fff;
            font-size: 9px;
            text-transform: uppercase;
            width: 100%;
            transition: linear .3s;

            p {
              opacity: 0;
              transition: linear .3s;
            }

            .star-rating {
              color: transparent;
              span:before {
                content: "\2605";
                position: absolute;
                color: gold;
              }
            }

          }

        }
      }

      .item:hover {
        cursor: pointer;
        .info {
          background-color: rgba(0, 0, 0, 0.5);
          p {
            color: #fff;
            opacity: 1;
            font-size: 14px;
          }
        }
      }

    }

    .search-title {
      text-transform: uppercase;
      letter-spacing: 3px;
      font-weight: 100;
      display: block;
      width: 100%;
      border-bottom: 1px solid #fff;
      padding-top: 10px;
    }
  
    .no-res {
      font-size: 24px;
      font-weight: 100;
      color: #fff;
      padding: 25px;
    }
  
    .col.dn {
      display: none;
    }

  }

  .row.wrapper {
    max-width: 1200px;
    margin: 0 auto
  }

}

@media (max-width: 900px) { 
  .container .row .col {
    flex: 0 0 20%;
  }
}

@media (max-width: 500px) { 
  .container .row .col {
    flex: 0 0 33%;
  }

  .row .col.related-col .item .bg .probar {
    bottom: 90%;
  }
}
