#overlay {
  background-color:transparent;
  height:0;

  .modal {
    height: 0;
    opacity:0;
    min-width: 350px;
    transition:height 0.25s 0s, opacity 0.25s 0s, min-width 0.25s 0.25s;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: transparent;
    z-index: -1;
    
    .modal-header {
      background:transparent;
      color:transparent;
      height: 0;
      padding: 0;
    }

  }
}

#overlay.active {
  position: fixed;
  width: 100%;
  height: 100%;
  opacity:1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.8); 
  z-index: 100;
  .modal {
    height: 400px;
    opacity: 1;
    min-width: 900px;
    background: #000;
    overflow: hidden;
    .modal-header {
      background: #000;
      color: #fff;
      height: 30px;
      padding: 10px;
      position: fixed;
      top: 0;
      width: 100%;
      .header-title {
        font-size: 20px;
        font-weight: 100;
        text-transform: uppercase;
      }
      
      .right {
        float: right;
        cursor: pointer;
        padding: 0 25px;
        font-weight: bold;
        font-size: 20px;
        font-weight: 100;
      }

    }

    .content {
      overflow: scroll;
      text-align: left;
      padding: 0 10px 0 10px;
      background: #000;
      color: #fff;
      margin-top: 60px;

      .col-trailer {
        flex: 0 0 70%;
      }

      .col-overview {
        flex: 0 0 30%;
        text-align: left;
        a {
          text-decoration: none;
          color: #fff;
        }
        a:hover {
          text-decoration: none;
          color: #fff;
        }
        .watch-now-btn {
          padding: 4px;
          text-transform: uppercase;
          color: #fff;
          background: #000;
          font-size: 12px;
          transition: linear .3s;
          float: right;
        }
      }
    }

    .content::-webkit-scrollbar { 
      display: none;
    }

    .row.cast {
      margin-top: 20px;
      .col-cast {
        flex: 0 0 50%;
        text-align: left;
        font-size: 10px;
        
        img {
          width: 30%;
          border: 1px solid #fff;
          border-radius: 8px;
        }
        .cast-item {
          padding-bottom: 5px;
          display: block;
        }
        .dn {
          display: none;
        }
      }
    }
  } 
  .modal.full{
    height: 100%;
    min-width: 100%;
    #top {
      height: 500px;
      background-size: cover!important;
      background-repeat: no-repeat!important;
    }
    
    .row .col {
      flex: 0 0 11%;
    }

    .content {  
      .col-trailer {
        align-self: center;
        text-align: center;
      }
      .col-overview {
        align-self: center;
      }
    }
  }
}

@media (max-width: 900px) { 
  #overlay.active {
    .modal {
      height: 400px;
      min-width: 600px;
    }
  }
}


@media (max-width: 600px) {
  #overlay.active {
    .modal {
      .content {

        .col-trailer {
          flex: 0 0 100%;

          iframe {
            width: 450px;
          }
        }

        .col-overview {
          flex: 0 0 100%;
        }
      }
      
    }
  }
}

@media (max-width: 500px) { 
  #overlay.active {
    .modal {
      height: 400px;
      min-width: 400px;

      .content {
        .col-trailer {
          iframe {
            width: 400px;
          }
        }
      }

    }
  }

  #overlay.active .modal .modal-header .header-title {
    font-size: 16px;
  }
}

@media (max-width: 400px) { 
  #overlay.active {
    .modal {
      height: 400px;
      min-width: 300px;

      .content {
        .col-trailer {
          iframe {
            width: 350px;
          }
        }
      }
      
    }
  }
}